*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
    font-family: Ubuntu, sans-serif;
}
header {
    display:flex;
          top: 0;
}
.logo {
    height:60px; 
    width:60px;
    vertical-align: middle;
    margin: 4px 1%;

}
.header{
    background-color:rosybrown;
    position:fixed;
    width:100%;
    }
    #login-button {
        position: absolute;
        /* top: 15px; */
        top: 15px;
        right: 5px;
        text-decoration: none;
        margin-right: 2%;
        border:none;
        border-radius:5px;
        
        }
        
        .footer-style{
            background-color:rosybrown;
            display:flex;
            justify-content:space-between;
            height:60px;
            align-items:center;
            bottom: 0;
            position: fixed;
            width: 100%;
          top: auto;
        
          }
        
           .copy-right{
            font-size:small;
          } 
          .socialLogo{
            padding-right:3px;
            height:20px;
            width:25px;
          }
          .a{
              padding-left: 1%;
          }
        