*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}
body{
    /* padding-bottom: 58px; */
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
    font-family: Ubuntu, sans-serif;
}
header {
    background-color: rosybrown;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height:auto;
}
.logo{
    height: 60px;
    width: 60px;
}
header >img {
    height: 60px;
    width: 60px;
    }
    footer {
        background-color: rosybrown;
        width: 100%;
        bottom: 0;
        position: fixed;
        height: auto;
        top:auto;
    }
    
    .social-icons {
        height :20px;
        width : 22px;
        margin-top:15px;
        padding: 2px;
    }
    
    .login {
        position: absolute;
        top: 15px;
        right: 5px;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    #contactus{
        position: relative;
        text-decoration: none;
        color: black;
        font-weight: bold;
        vertical-align: middle;
    }
    main{
        width: 100vw;
        margin:0 auto;
        padding: 50px 20px;
    }
    /* =========================================================
    a {
        text-decoration: none;
        color: black;
        margin: 1rem;
    }
    body {
        margin: 0;
        background-color: #e0e0e0;
        font-family: Ubuntu, sans-serif;
    }
    .logo {
        height: 60px;
        width: 60px;
    }
    .social-icons {
        height: 20px;
        width: 22px;
    }
    header,
footer {
    background-color: rosybrown;
    position: sticky;
}
header {
    z-index: 2;
    top: 0;
}
header > a[href="index.html"] {
    margin: 0;
}
footer {
    bottom: 0;
}
header > a:last-of-type {
    vertical-align: middle;
    margin-left: 92%;
}
header > *,
footer > * {
    vertical-align: middle;
    display: inline-block;
}
.copyright,
footer > a:first-child {
    margin-right: 39%;
}
.copyright {
    font-size: 10px;
    vertical-align: bottom;
    margin-bottom: 0.5rem;
}
.social-icons-container > a {
    margin: 0;
} */