.mainDiv{
  margin-left: 4% !important;
  margin-right: 4% !important;
  margin-top: 20%;
  margin-bottom: 2%;
}
.imgDiv{

  border: 1px solid black
}

.formDiv{
  
padding: 20px; 
border-left: 1px; 
border-top: 1px;
border-right: 1px; 
border-bottom: 1px; 
border-style: solid;
border-color: black;

}

.listSty{
  display: flex; 
  padding: 1em;
}
.labelSty{
  flex:1;
}
.inputSty{
  width:60%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
height: 50px;
width: 50px;
background-image: none !important;
margin-top: 29%;
}
.carousel-control-next-icon:after
{
content: '>';
font-size: 55px;
color: rosybrown; 

}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rosybrown;
  
  }
  
  .carousel-control-next,
  .carousel-control-prev {
    z-index: 0;
  
  }
  .carousel-image {
    max-height: 370px;
  }
  
  
  
  .image{
    margin-top: 5%;
    margin-left: 1%;
    margin-bottom: 5%;
    width: 100%;
    height: 2hvh;
  }
  @media only screen and (min-width: 800px){
    .image{
      width: 50%;
      margin-left: 25%;
      height: 450px;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    margin-top: 23%;
  }
  
  .mainDiv{
    margin-top: 7%;
}
}  