.view {
    text-decoration: none;
    padding-left: 42%;
    padding-right: 2%;

}
.hotelImage {
    height: 250px;
    width: 250px;
    align-self: flex-start;
}
.map-view{
    display: none;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}

.img-info {
    flex: 1 1 auto;
    margin: 5%;
    justify-content: center;
    width:300px;
}
.contentDiv {

    margin: 3%;
    background-color:lightgrey;
    width: 600px;
    height: auto;
    display: flex;
    flex: 30%;  

}
h3{
    padding-bottom: 4%;
} 
#linkStyle{
    font-weight: bold;
    padding-top: 5px;
}
*{
text-decoration: none;
color: black;
}
.content{
padding:4%;
}
.links{
    display:flex;
    margin:2%;
  } 