.hotel1 {
    height: 250px;
    width: 250px;
}
.hotel2 {
    height: 250px;
    width: 250px;
}
.hotel3 {
    height: 250px;
    width: 250px;
}
.hotelimg1 {
   width: 40%;
   background-color: rgb(132,136,139);
   margin: 2%;
}
.hotelimg2 {
   width: 40%;
   background-color: rgb(132,136,139);
   margin: 2%;
}

.hotelimg3 {
  width: 40%;
  background-color: rgb(132,136,139);
  margin: 2%;
}

