div{
    height: 70px;
    width: 70px;
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top-color:#444444 ;
    margin: 0px auto;
    margin-top: 20%;
    margin-bottom: 20%;
}
.loader{
    animation: spin 1s linear infinite;
}     

@keyframes spin{
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}  