#marginDesc{
  margin: 2%;

}
.imgDiv{
  background-color: rgb(132,136,139); 
  margin: 7% auto; 
  margin-bottom: 2%;
  flex-direction: row;
  display: flex;
  width: 60%;
  font-family: 'Ubuntu',sans-serif;
  height: 270px;
}
.mainDiv{
  margin-bottom: 60px; 
  flex-direction: column;
  display: flex;
  background-color: #e0e0e0; 

}
.descSty{
  display: flex; 
  font-family: cursive; 
  background-color:rosybrown; 
  border:1px solid black; 
  border-radius: 5px; 
  margin-right: 2%; 
  margin-left: 2%;
  margin-bottom: 20px;
  justify-content: center;
  align-content: center;
}