body {
    width : 100%;
    height: 100%;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;

}
.hotelImage {
    height:300px;
    width:270px;    
}
#info{
    display:flex;
    flex-direction:column;
    height:300px;
    width:400px;
    background-color:grey;
    justify-content:center;
    align-items:center;
    row-gap: 6px;
  }
  .container{
    display:flex;
    flex-direction:column;
    align-content:center;
    
  }
  .container1{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-top:8%;
    margin-bottom: 3%;
  }
  .container2{
    display:flex;
    border:1px solid black;
    border-radius:5px;
    justify-content:space-evenly;
    align-items:center;
    padding-top:1%;
    padding-bottom:1%;
    background-color:rosybrown;
    margin:3% 2%;
  }
  b{
    font-family: cursive;  
  }
  #pay-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
   
}

.customer {
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    row-gap: 5px;
 }

 .total {
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    row-gap: 5px;
 }  